
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    color: #333;
}

header {
    background-color: #0d3b66;
    color: white;
    text-align: center;
    padding: 1rem;
}

#course-title {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
}

.name {
    color: #ffd60a;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: #333;
    margin: 0;
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
}

nav a:hover {
    background-color: #ffd60a;
    color: #0d3b66;
    transition: 0.3s;
}


main {
    max-width: 900px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}


.card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-top: 1rem;
}


footer {
    text-align: center;
    background-color: #0d3b66;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}

footer p {
    margin: 5px 0;
}