
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: #f5f5f5;
    color: #333;
}


.page-header {
    background: #4b0e4e;
    padding: 1rem;
    text-align: center;
    color: white;
}


.form-card {
    max-width: 420px;
    margin: 2rem auto;
    background: #d7cbd7;
    padding: 1.5rem;
    border-radius: 6px;
}


label {
    font-weight: bold;
    display: block;
    margin-top: 1rem;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.small-text {
    font-size: 0.8rem;
    font-weight: normal;
}


.rating-group {
    margin-top: 1rem;
}

.rating-label {
    font-weight: bold;
}

.stars-row {
    display: flex;
    justify-content: space-between;
    margin-top: 0.4rem;
}

.stars-row label {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.features-section {
    margin-top: 1rem;
}

.features-section label {
    display: block;
    margin-top: 0.3rem;
}


.submit-btn {
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.8rem;
    background: #dddddd;
    border: 1px solid #b8b8b8;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
}

.submit-btn:hover {
    background: #cfcfcf;
}


.confirmation-card {
    max-width: 420px;
    margin: 2rem auto;
    background: #ffffff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
}


footer {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    color: #444;
}

/* media querry */
@media screen and (minmax: 728px) {
    .form-card {
        width: 95%;
        padding: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .stars-row {
        gap: 0.5rem;
    }

    input[type="text"],
    input[type="date"],
    select,
    textarea {
        font-size: 1rem;
    }

    .submit-btn {
        font-size: 1.1rem;
        padding: 0.9rem;
    }
}
